$size: 200px;

.neon-circle {
  height: $size;

  @keyframes animate-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  & .loader {
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    animation: animate-rotate 2s linear infinite;

    &:nth-child(1),
    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(
          to top,
          transparent,
          rgba(0, 255, 249, 0.4)
        );
        background-size: 100px 180px;
        background-repeat: no-repeat;
        border-radius: 100px 0 0 100px;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      animation-delay: -1s;
      filter: grayscale(1);
    }

    & i {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      background-color: #00fff9;
      border-radius: 50%;
      z-index: 100;
      box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9,
        0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9,
        0 0 80px #00fff9, 0 0 90px #00fff9;
    }

    & span {
      position: absolute;
      inset: 20px;
      background-color: #000;
      border-radius: 50%;
      z-index: 110;
    }
  }
}
